<div class="card">
  <div class="card-header">
    <b>{{formTitle}}</b>
  </div>
  <div class="card-block">
    <form [formGroup]="form" (ngSubmit)="save()">
      <div class="form-group"
           [ngClass]="{'has-danger': form.get('name').invalid && form.get('name')?.touched}">
        <label
          for="name"
          class="form-control-label">Name</label>
        <input
          class="form-control"
          id="name"
          formControlName="name"
          [ngClass]="{'form-control-danger':form.get('name')?.errors?.required}">
      </div>
      <div class="form-group"
           [ngClass]="{'has-danger':form.get('address')?.invalid && form.get('address').touched}">
        <label for="address" class="form-control-label">Address</label>
        <textarea [ngClass]="{'invalid':form.get('address')?.invalid}" class="form-control" id="address"
                  formControlName="address"></textarea>
      </div>
      <div class="row">
        <div class="col-sm-4">
          <div class="form-group"
               [ngClass]="{'has-error':form.get('phone1')?.invalid && form.get('phone1').touched}">
            <label for="phone1" class="form-control-label">Phone 1</label>
            <input class="form-control" id="phone1" formControlName="phone1"
                   [ngClass]="{'invalid':form.get('phone1')?.invalid}" formControlName="phone1">
            <div class="form-control-feedback">
              <div *ngIf="form.get('phone1').touched && form.get('phone1')?.errors?.rangeLength">At least 5 numbers and
                Maximum 11 numbers
              </div>
              <div *ngIf="form.get('phone1').touched && form.get('phone1')?.errors?.required">Phone 1 is required</div>
              <div *ngIf="form.get('phone1').touched && form.get('phone1')?.errors?.number">Must be number, no
                letters allowed
              </div>
            </div>
          </div>
        </div>
        <div class="col-sm-4">
          <div class="form-group" [ngClass]="{'has-danger':form.get('phone2')?.invalid && form.get('phone2').touched}">
            <label for="phone2" class="form-control-label">Phone 2</label>
            <input class="form-control" id="phone2" formControlName="phone2">
            <div class="form-control-feedback">
              <div *ngIf="form.get('phone2').touched && form.get('phone2')?.errors?.rangeLength">At least 5 numbers and
                Maximum 11 numbers
              </div>
              <div *ngIf="form.get('phone2').touched && form.get('phone2')?.errors?.number">Must be number, no
                letters allowed
              </div>
            </div>
          </div>
        </div>
        <div class="col-sm-4">
          <div class="form-group" [ngClass]="{'has-danger':form.get('phone3')?.invalid && form.get('phone3').touched}">
            <label for="phone3" class="form-control-label">Phone 3</label>
            <input class="form-control" id="phone3" formControlName="phone3">
            <div class="form-control-feedback">
              <div *ngIf="form.get('phone3').touched && form.get('phone3')?.errors?.rangeLength">At least 5 numbers and
                Maximum 11 numbers
              </div>
              <div *ngIf="form.get('phone3').touched && form.get('phone3')?.errors?.number">Must be number, no
                letters allowed
              </div>
            </div>
          </div>
        </div>
      </div>
      <hr>
      <button [disabled]="form.invalid" class="btn btn-primary">Save</button>
      <button type="button" class="btn btn-danger" (click)="cancelled()">Cancel</button>
    </form>
  </div>
</div>

