<app-loading [condition]="isLoading"></app-loading>

<app-toast [message]="toast.message"></app-toast>
<br>

<div class="card" *ngIf="!showEditor">
  <div class="card-header">
    <h3>Places</h3>
  </div>
  <div class="card-block">
    <div class="row">
      <div class="col-sm-12">
        <table class="table tab-content table-hover table-responsive">
          <thead>
          <tr class="card-header">
            <th>
              <button type="button" class="btn btn-outline-primary" (click)="startAdd()"><i
                class="fa fa-plus-circle fa-2x"></i></button>
            </th>
            <th>Name</th>
            <th>phone 1</th>
            <th>phone 2</th>
            <th>phone 3</th>
          </tr>
          </thead>
          <tbody>
          <tr *ngFor="let p of places;index as idx">
            <td>
              <button class="btn btn-secondary" (click)="startEdit(p)"><i class="fa fa-edit fa-lg"></i></button>
              <button class="btn btn-secondary" (click)="deletePlace(p._id)"><i class="fa fa-remove fa-lg"></i></button>
            </td>
            <td>{{p.name}}</td>
            <td>{{p.phone1}}</td>
            <td>{{p.phone2}}</td>
            <td [title]="idx+1">{{p.phone3}}</td>
          </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>
<app-place-editor [model]="selectedModel" [formTitle]="formTitle" (onCancel)="hideAndResetForm()"
                  (onSaved)="save($event)" *ngIf="showEditor"></app-place-editor>
