<!--<nav class="navbar navbar-toggleable-md navbar-inverse bg-primary">
  <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarColor01" aria-controls="navbarColor01" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <a class="navbar-brand" href="#">Navbar</a>

  <div class="collapse navbar-collapse" id="navbarColor01">
    <ul class="navbar-nav mr-auto">
      <li>
        <a routerLink="/places" class="nav-item nav-link" routerLinkActive="active">
          <i class="fa fa-location-arrow"></i> Places
        </a>
      </li>
      <li>
        <a routerLink="/courses" class="nav-item nav-link" routerLinkActive="active">
          <i class="fa fa-graduation-cap"></i> Courses
        </a>
      </li>
      <li>
        <a routerLink="/attendees" class="nav-item nav-link" routerLinkActive="active">
          <i class="fa fa-user-circle-o"></i> Attendees
        </a>
      </li>
      <li>
        <a routerLink="/groups" class="nav-item nav-link" routerLinkActive="active">
          <i class="fa fa-users"></i> Groups
        </a>
      </li>
    </ul>
  </div>
</nav>-->

<nav class="navbar navbar-toggleable-md navbar-inverse bg-inverse">
  <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarColor01" aria-controls="navbarColor01" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <a class="navbar-brand" href="#">Navbar</a>

  <div class="collapse navbar-collapse" id="navbarColor01">
    <ul class="navbar-nav mr-auto">
      <li>
        <a routerLink="/places" class="nav-item nav-link" routerLinkActive="active">
          <i class="fa fa-location-arrow"></i> Places
        </a>
      </li>
      <li>
        <a routerLink="/courses" class="nav-item nav-link" routerLinkActive="active">
          <i class="fa fa-graduation-cap"></i> Courses
        </a>
      </li>
      <li>
        <a routerLink="/attendees" class="nav-item nav-link" routerLinkActive="active">
          <i class="fa fa-user-circle-o"></i> Attendees
        </a>
      </li>
      <li>
        <a routerLink="/groups" class="nav-item nav-link" routerLinkActive="active">
          <i class="fa fa-users"></i> Groups
        </a>
      </li>
    </ul>
  </div>
</nav>

<div class="container">


  <router-outlet></router-outlet>

</div>


<!--<div class="navbar navbar-default navbar-fixed-top">
  <div class="container">
    <div class="navbar-header">
      <a href="../" class="navbar-brand">Organizer</a>
      <button class="navbar-toggle" type="button" data-toggle="collapse" data-target="#navbar-main">
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
    </div>
    <div class="navbar-collapse collapse" id="navbar-main">
      <ul class="nav navbar-nav">
        <li>
          <a routerLink="/places" class="nav-item nav-link" routerLinkActive="active">
            <i class="fa fa-location-arrow"></i> Places
          </a>
        </li>
        <li>
          <a routerLink="/courses" class="nav-item nav-link" routerLinkActive="active">
            <i class="fa fa-graduation-cap"></i> Courses
          </a>
        </li>
        <li>
          <a routerLink="/attendees" class="nav-item nav-link" routerLinkActive="active">
            <i class="fa fa-user-circle-o"></i> Attendees
          </a>
        </li>
        <li>
          <a routerLink="/groups" class="nav-item nav-link" routerLinkActive="active">
            <i class="fa fa-users"></i> Groups
          </a>
        </li>
      </ul>
    </div>
  </div>
</div>-->

