.table th, .table td {
  vertical-align: middle;
}

label.form-control-label {
  font-weight: bold;
}

.form-group.has-error .form-control-feedback {
  color: #d9534f;
  background: wheat;
  padding: 0 3px;
}
