<app-loading [condition]="isLoading"></app-loading>

<app-toast [message]="toast.message"></app-toast>
<br>
<div class="well" *ngIf="!showEditor">
  <div class="card">
    <div class="card-header">
      <h3>Attendees</h3>
    </div>
    <div class="card-block">
      <table class="table tab-content table-hover table-responsive">
        <thead>
        <tr class="card-header">
          <th>
            <button type="button" class="btn btn-outline-primary" (click)="startAdd()"><i class="fa fa-plus-circle fa-2x"></i></button>
          </th>
          <th>Name</th>
          <th>gender</th>
          <th>birthDate</th>
          <th>phone1</th>
        </tr>
        </thead>
        <tbody>
        <tr *ngFor="let c of attendees">
          <td>
            <button class="btn btn-secondary" (click)="startEdit(c)"><i class="fa fa-edit fa-lg"></i></button>
          </td>
          <td>{{c | fullName}}</td>
          <td>{{c.gender}}</td>
          <td>{{c.birthDate | date:'d/M/y'}}</td>
          <td>{{c.phone1}}</td>

        </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>
<div *ngIf="showEditor" class="well">
  <app-attendee-editor [model]="selectedModel" (saved)="onSaved($event)"
                       (cancelled)="onCancel()"></app-attendee-editor>

</div>
