<br>
<div class="well" *ngIf="!showEditor">
  <div class="card">
    <div class="card-header">
      <h3>Courses</h3>
    </div>
    <div class="card-block">
      <table class="table tab-content table-hover table-responsive">
        <thead>
        <tr class="card-header">
          <th>
            <button type="button" class="btn btn-outline-primary" (click)="startAdd()"><i
              class="fa fa-plus-circle fa-2x"></i></button>
          </th>
          <th>Title</th>
          <th>place</th>
          <th>Cost</th>
        </tr>
        </thead>
        <tbody>
        <tr *ngFor="let c of courses">
          <td>
            <button class="btn btn-secondary" (click)="startEdit(c)"><i class="fa fa-edit fa-lg"></i></button>
            <button class="btn btn-secondary" (click)="removeCourse(c)"><i class="fa fa-remove fa-lg"></i></button>
          </td>
          <td>
            <div class="title">{{c.title}}</div>
            <small class="help-block">{{c.description}}</small>
          </td>
          <td>
            <div class="title"> {{c.place.name}} - <small class="help-block">{{c.place.address}}</small></div>

          </td>
          <td>{{c.cost}}</td>
        </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>
<div *ngIf="showEditor" class="well">
  <div class="card">
    <div class="card-header">
      <h5>{{formTitle}}</h5>
    </div>
    <div class="card-block">
      <form [formGroup]="form" (ngSubmit)="save()">
        <div class="form-group"
             [ngClass]="{'has-danger':form.get('title')?.invalid && form.get('title')?.touched}">
          <label for="title" class="form-control-label"> Title <em
            *ngIf="form.get('title').errors?.required">*</em></label>
          <input class="form-control" #titleElInput id="title" formControlName="title">
        </div>
        <div class="form-group"
             [ngClass]="{'has-danger':form.get('place')?.invalid && form.get('place')?.touched}">
          <label for="place" class="form-control-label"> Place <em
            *ngIf="form.get('place').errors?.required">*</em></label>
          <select formControlName="place" id="place" class="form-control">
            <option *ngFor="let p of places" [value]="p._id">{{p.name}}</option>
          </select>
        </div>
        <div class="form-group"
             [ngClass]="{'has-danger':form.get('cost')?.invalid && form.get('cost')?.touched}">
          <label for="cost" class="form-control-label"> Cost <em
            *ngIf="form.get('cost').errors?.required">*</em></label>
          <input class="form-control" id="cost" formControlName="cost">
          <div class="form-control-feedback">
            <div *ngIf="form.get('cost')?.errors?.number">Must be number</div>
            <div *ngIf="form.get('cost')?.errors?.min">Cost should be 0 or more</div>
          </div>
        </div>
        <div class="form-group">
          <label for="description" class="form-control-label"> Description </label>
          <textarea class="form-control" id="description" formControlName="description"></textarea>
        </div>
        <hr>
        <button class="btn btn-primary" [disabled]="form.invalid">Save</button>
        <button type="button" class="btn btn-danger" (click)="hideAndResetForm()">Cancel</button>
      </form>
    </div>
  </div>
</div>

